#application .application .input {
    display: block;
    margin-top: 1em;
}

#application .application .input>label {
    display: block;
    text-align: left;
}

#application .application .input>input, select, textarea {
    width: 100%;
}

#application .application .button {
    cursor: pointer;
}

#application .complete .option:hover{
    cursor: pointer;
}