#application .ui.form .field>label {
    display: block;
    text-align: left;
}

.mlhlink {
    font-size: larger;
}

#application .completeMsg {
    font-size: x-large;
    font-weight: 700;
}

#application .ui.bottom.attached.segment .button{
    width: 200px;
}