#dashboard .status-container {
    font-weight: bold;
    font-size: 2em;
    border: 1px solid #000;
}

#dashboard .button {
    width: 200px;
    font-size: medium;
    color: #fff;
    background-color: #5A6ADA;
    border: 1px solid #5A6ADA;
    padding: .5em .5em;
    margin: 1.5em auto 1.5em;
}

#dashboard .button:hover{
    cursor: pointer;
}

#dashboard .divider{
    border-bottom: 2px solid #000;
    opacity: 75%;
    margin: .5em 2em 0;
    height: 0;
}