#dashboard #status{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: large;
    font-weight: 14px;
    color: #fff;
    padding: 1em 0;
    margin: 1.5em 1.5em;
}

#dashboard .status-red{
    background-color: red;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

#dashboard .status-green {
    background-color: green;
}

#dashboard .divider{
    margin-right: 1.5em;
}

#dashboard .button{
    margin-top: .5em;
    margin-bottom: .5em;
}