* { box-sizing: border-box }

body{
    /* background-color: lightskyblue;  */
    background-image: linear-gradient(to bottom, #48C6F0, #5A6ADA);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

.outline{
    width: 300px;
    margin: 5% auto;
    padding: 1em 1em;
    position: relative;
    /* background-color: skyblue; */
    background-image: linear-gradient(to bottom right, #4571C4, #7941BA);
    opacity: 90%;
    border: 1px solid #696969;
    text-align: center;
    border-radius: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.outline .logo{
    margin-top: 1em;
}

.outline .login input[type = "email"], .login input[type = "password"] {
    width: 240px;
    margin: 2em auto;
    padding: 1em;
    display: block;
    border: 1px solid #696969;
    outline: none;
    transition: .25s;
}

.outline .login input[type = "email"]:focus , .login input[type = "password"]:focus {
    width: 270px;
    border-radius: 10px;
    border-color: #1e90ff;
}

.outline .login button[type = "login"] {
    width: 240px;
    margin: 2em auto;
    padding: .7em;
    display: block;
    border: 1px solid #1e90ff;
    background-color: #1e90ff;
    color: #fff;
    font-weight: 700;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: .25s;
    border-radius: 9px;
}

.outline #links a{
    color: #fff;
    font-weight: 550;
    text-decoration: none;
}

.outline #links a:hover{
    text-decoration: underline;
}

#reg{
    text-align: left;
    padding-right: 5px;
}

#pas{
    text-align: right;
    padding-left: 5px;
}

.outline .divider{
    border-bottom: 1px solid #343D3A;
    opacity: 50%;
    margin: 2em 0 1.5em;
    height: 0;
}