#sidebar{
    width: 270px;
    height: 100%;
    top: 0;
    left: 0;
    background: #5A6ADA;
    position: fixed;
    overflow: auto;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999;
}

#sidebar .logo img{
    display: block;
    margin: 2em auto;
    cursor: pointer;
}

#sidebar .option{
    color: #fff;
    font-size: large;
    background: #5A6ADA;
    padding: 1em;
}

#sidebar .option:hover{
    cursor: pointer;
    background: #6576f3;
}

#sidebar .active{
    background: #4a56b3;
}

#sidebar .divider{
    border-bottom: 3px solid #fff;
    opacity: 75%;
    margin: 2em .5em;
    height: 0;
}

.toggle {
    position: fixed;
    cursor: pointer;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translate3d(270px, 0, 0);
    transform: translate3d(270px, 0, 0);
    -webkit-transition: 0.5s;
	transition: 0.5s;
}

@media only screen and (max-width: 768px) {
    #sidebar{
        -webkit-transform: translate3d(-270px, 0, 0);
	    transform: translate3d(-270px, 0, 0);
    }

    .toggle{
        visibility: visible;
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);
    }

    #sidebar.open{
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    #sidebar.open + .toggle{
        -webkit-transform: translate3d(270px, 0, 0);
        transform: translate3d(270px, 0, 0);
    }



    
}