<div id="application">
    <div class="title">
        Application
    </div>

    <div class="ui segment" ng-show="!appStatus">
        <div class="ui large form">
            <form ng-submit="submitApp()">
                <fieldset ng-disabled="user.status.completedApp || regIsClosed">

                    <div class="field" id="input">
                        <label>Full Name</label>
                        <input type = "text" id="full-name" placeholder="Full Name" ng-model="user.info.name" required>
                    </div>

                    <div class="field" id="input">
                        <label>Sex</label>
                        <select ng-model="user.info.sex" required>
                            <option value=""></option>
                            <option value="Female">Female</option>
                            <option value="Male">Male</option>
                            <option value="Other/Perfer not to say">Other/Perfer not to say</option>
                        </select>
                    </div>

                    <div class="field" id="input">
                        <label>Gender Pronouns</label>
                        <input type = "text" id = "pronouns" ng-model="user.info.pronouns" required>
                    </div>

                    <div class="field" id="input">
                        <label>Race/Ethnicity</label>
                        <select ng-model="user.info.race" required>
                            <option value=""></option>
                            <option value="White">White</option>
                            <option value="Black or African-American">Black or African-American</option>
                            <option value="Asian American">Asian American</option>
                            <option value="Native Hawaiian or Pacific Islander">Native Hawaiian or Pacific Islander</option>
                            <option value="Hispanic/Latinx">Hispanic/Latinx</option>
                            <option value="Other/Perfer not to say">Other/Perfer not to say</option>
                        </select>
                    </div>

                    <div class="field" id="input">
                        <label>What is Your Major?</label>
                        <input type = "text" ng-model="user.info.major" required>
                    </div>

                    <div class="field" id="input">
                        <label>What is Your Most Current Level of Study?</label>
                        <select ng-model="user.info.level" required>
                            <option value=""></option>
                            <option value="freshman">Freshman</option>
                            <option value="sophomore">Sophomore</option>
                            <option value="junior">Junior</option>
                            <option value="senior">Senior</option>
                            <option value="grad student">Grad Student</option>
                        </select>
                    </div>

                    <div class="field" id="input">
                        <label>Gender Pronouns</label>
                        <input type = "text" id = "pronouns" ng-model="user.info.pronouns" required>
                    </div>

                    <div class="field" id="address">
                        <label>Address</label>
                        <p>
                            If you wants swags (For U.S. only)
                        </p>
                        <div class="fields">
                            <div class="twelve wide field">
                                <input type="text" ng-model="user.info.address.street" placeholder="123 Street Name">
                            </div>
                            <div class="four wide field">
                                <input type="text" ng-model="user.info.address.apartNum" placeholder="Apt #">
                            </div>
                        </div>
                    </div>

                    <div class="field" id="address">
                        <div class="two fields">
                            <div class="eight wide field">
                                <label>City</label>
                                <input type="text" ng-model="user.info.address.city" placeholder="Clemson">
                            </div>
                        
                            <div class="eight wide field">
                                <label>State</label>
                                <select class="ui fluid dropdown" ng-model="user.info.address.state">
                                    <option value="">State</option>
                                    <option value="AL">Alabama</option>
                                    <option value="AK">Alaska</option>
                                    <option value="AZ">Arizona</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="CA">California</option>
                                    <option value="CO">Colorado</option>
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="DC">District Of Columbia</option>
                                    <option value="FL">Florida</option>
                                    <option value="GA">Georgia</option>
                                    <option value="HI">Hawaii</option>
                                    <option value="ID">Idaho</option>
                                    <option value="IL">Illinois</option>
                                    <option value="IN">Indiana</option>
                                    <option value="IA">Iowa</option>
                                    <option value="KS">Kansas</option>
                                    <option value="KY">Kentucky</option>
                                    <option value="LA">Louisiana</option>
                                    <option value="ME">Maine</option>
                                    <option value="MD">Maryland</option>
                                    <option value="MA">Massachusetts</option>
                                    <option value="MI">Michigan</option>
                                    <option value="MN">Minnesota</option>
                                    <option value="MS">Mississippi</option>
                                    <option value="MO">Missouri</option>
                                    <option value="MT">Montana</option>
                                    <option value="NE">Nebraska</option>
                                    <option value="NV">Nevada</option>
                                    <option value="NH">New Hampshire</option>
                                    <option value="NJ">New Jersey</option>
                                    <option value="NM">New Mexico</option>
                                    <option value="NY">New York</option>
                                    <option value="NC">North Carolina</option>
                                    <option value="ND">North Dakota</option>
                                    <option value="OH">Ohio</option>
                                    <option value="OK">Oklahoma</option>
                                    <option value="OR">Oregon</option>
                                    <option value="PA">Pennsylvania</option>
                                    <option value="RI">Rhode Island</option>
                                    <option value="SC">South Carolina</option>
                                    <option value="SD">South Dakota</option>
                                    <option value="TN">Tennessee</option>
                                    <option value="TX">Texas</option>
                                    <option value="UT">Utah</option>
                                    <option value="VT">Vermont</option>
                                    <option value="VA">Virginia</option>
                                    <option value="WA">Washington</option>
                                    <option value="WV">West Virginia</option>
                                    <option value="WI">Wisconsin</option>
                                    <option value="WY">Wyoming</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field" id="address">
                        <div class="two fields">
                            <div class="eight wide field">
                                <label>Country</label>
                                <select class="ui fluid dropdown" disabled>
                                    <option value="">United States</option>
                                </select>
                            </div>

                            <div class="eight wide field">
                                <label>Zip Code</label>
                                <input type="text" ng-model="user.info.address.zip" pattern="[0-9]{5}" maxlength="5" placeholder="12345">
                            </div>  
                        </div>
                    </div>

                    <div class="field" id="input">
                        <label>T-shirt Size</label>
                        <select ng-model="user.info.shirt" required>
                            <option value=""></option>
                            <option value="S">Small</option>
                            <option value="M">Medium </option>
                            <option value="L">Large</option>
                            <option value="XL">X-Large</option>
                            <option value="XXL">XX-Large</option>
                        </select>
                    </div>

                    <div class="field" id="input">
                        <label>Rate your programming experience</label>
                        <select ng-model="user.info.experience" required>
                            <option value=""></option>
                            <option value="1">1 - Never coded before</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5 - Expert</option>
                        </select>
                    </div>

                    <div class="field" id="input">
                        <label>We will be using Discord primarily for communications at the event. Do you have a Discord account?</label>
                        <select ng-model="user.info.discord" required>
                            <option value=""></option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>

                    <div class="grouped fields" id="input">
                        <label>
                            Which of these companies would you be interested in joining a 1-on-1 call with a recruiter for
                        </label>
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" ng-model="user.info.recruiter.aws">
                                <label>AWS</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" ng-model="user.info.recruiter.bluecross">
                                <label>BlueCross BlueShield</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" ng-model="user.info.recruiter.softdocs">
                                <label>Softdocs</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" ng-model="user.info.recruiter.splunk">
                                <label>Splunk</label>
                            </div>
                        </div>
                    </div>

                    <div class="field" id="input">
                        <label>Would you be interested in a reverse CTF mini-event hosted by our Sponsor Splunk?</label>
                        <select ng-model="user.info.ctf" required>
                            <option value=""></option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>

                    <div class="field" id="input">
                        <label>
                            Do you have any suggestions for workshops you'd like our sponsor AWS to host
                        </label>
                        <textarea ng-model="user.info.frq1">
                        </textarea>
                    </div>

                    <div class="field" id="input">
                        <label>
                            Do you have any activity requests for us during the event (e.g. Among Us, trivia)?
                        </label>
                        <textarea ng-model="user.info.frq2">
                        </textarea>
                    </div>

                    <div class="field" id="input">
                        <label>
                            Is there anything we should know?
                        </label>
                        <textarea ng-model="user.info.frq3">
                        </textarea>
                    </div>

                    <div class="field" id="input">
                        <label>
                            What vegetable are you?
                        </label>
                        <input type = "text" ng-model="user.info.frq4" required>
                    </div>

                    <div class="ui divider"></div>

                    <div class="field" id="input">
                        <div class="ui checkbox">
                            <input type="checkbox" ng-model="user.info.mlh" required>
                            <label>I have read and agree to the
                                <a target="_blank" and rel="noopener noreferrer" href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">
                                    <b>MLH Code of Conduct.</b>
                                </a>
                            </label>
                        </div>
                    </div>

                    <div class="field" id="input">
                        <div class="ui checkbox">
                            <input type="checkbox" ng-model="user.info.auth" required>
                            <label>I authorize you to share my application/registration information for event administration, ranking, MLH administration, pre- and post-event informational e-mails, and occasional messages about hackathons in-line with the MLH Privacy Policy. I further agree to the terms of both the MLH Contest Terms and Conditions and the MLH Privacy Policy.</label>
                        </div>
                    </div>

                    <br>

                    <div class="field" id="input">
                        <div class="ui message">
                            <div class="header">
                                IMPORTANT!
                            </div>
                            <p>Contrary to what the name suggests, hackathons don't involve “hacking.” Conversely, hackathons are make-a-thons that take place over the span of a few days. During the event, creative, motivated people of all backgrounds, ages, and experience levels come together to turn their ideas into reality.</p>
                        </div>
                    </div>

                    <div class="field" ng-hide="user.status.completedApp" id="input">
                        <br>
                        <button class="fluid ui green button" type="submit">Submit</button>
                        <br>
                    </div>
                </fieldset>
            </form>

            <div class="field" ng-show="user.status.completedApp" id="input">
                <br>
                <button class="fluid ui green button" ng-click="back()">Back</button>
                <br>
            </div>
        </div>
    </div>

    <div class="ui container" ng-show="appStatus">
        <div class="ui top attached success message">
            <i class="huge circular check icon"></i>
        </div>

        <div class="ui bottom attached segment">
            <h2 class="completeMsg">Your Application is Complete</h2>
            <br>
            <div>
                <button class="ui blue button" ng-click="view()">View Application</buton>
                <button class="ui green button" ui-sref="app.dashboard">Home</button>
            </div>
            <br>
            <br>
        </div>
    </div>
</div>