<div class="ui segment">
    <div class="center aligned ui grid">

        <div class="row"></div>

        <div class="row">
            <h1 class="ui dividing header">
                Scan Your ID
            </h1>
        </div>

        <div class="twelve wide column">
            <form class="ui form">
                <div class="field">
                    <div class="ui icon fluid input">
                        <input type="text" ng-model="rfid">
                    </div>
                </div>

                <br>

                <div class="field">
                    <button class="teal ui button visible" ng-click="checkin()">Enter</button>
                </div>
            </form>
        </div>

        <div class="row"></div>

    </div>
</div>