<div id="dashboard">
    <div class="title">
        Dashboard
    </div>

    <div class="ui container">

        <div class="ui attached segment">

            <h1 class="ui center aligned header">
                Status:
            </h1>

            <div ng-if="!user.status.verified">
                <div class="status-red" id="status">
                    Unverfied
                </div>
                
                <div class="ui divider"></div>

                <p>Click the button below to send a verification email to verify your account, so you can start your application for Hello World!</p>

                <div class="ui blue large button" ng-click="sendEmail()">
                    Send Verification Email
                </div>
            </div>

            <div ng-if="user.status.verified && !user.status.completedApp">
                <div class="status-green" id="status">
                    Email Verified
                </div>

                <div class="ui divider"></div>

                <p>Go to the application page to complete your application for Hello World!</p>
                <p>You will not be considered for Hello World if you don't complete your applcation.</p>

                <div class="ui blue large button" ui-sref="app.application">
                    Start Application
                </div>
            </div>

            <div ng-if="user.status.completedApp && !user.status.accepted">
                <div class="status-green" id="status">
                    Application Complete
                </div>

                <div class="ui divider"></div>

                <p>Your application has been submitted!</p>
                <p>You will be notified if you are accepted for Hello World</p>

                <div class="ui blue large button" ui-sref="app.application">
                    View Application
                </div>
            </div>

            <div ng-if="user.status.accepted && !user.status.confirmed && !user.status.declined">
                <div class="status-green" id="status">
                    Accepted
                </div>

                <div class="ui divider"></div>

                <p>Congratulations! You are accepted for Hello World 2020</p>
                <p>Will we have the pleasure of seeing you face?</p>
                <p>Please confirm your attendance by completing the confirmation form or decline admission</p>

                <div class="ui green large button" ui-sref="app.confirmation">
                    I will be in attendance
                </div>

                <div class="ui red large button" ng-click="decline()">
                    I won't be in attendance
                </div>
            </div>

            <div ng-if="user.status.confirmed && !user.status.declined">
                <div class="status-green" id="status">
                    Confirmed
                </div>

                <div class="ui divider"></div>

                <p>Your confirmation has been submitted!</p>
                <p>Can't wait to see you at Hello World</p>

                <div class="ui blue large button" ui-sref="app.confirmation">
                    View Confirmation
                </div>
            </div>

            <div ng-if="user.status.declined && !user.status.confirmed">
                <div class="status-red" id="status">
                    Declined
                </div>

                <div class="ui divider"></div>

                <p>You declined your admission for Hello World</p>
                <p>Sad to hear that you won't be here for Hello World :(</p>
                <br>
            </div>

        </div>

    </div>

</div>
