<div class="container" id="dashboard">
    <div class="title">
        Dashboard
    </div>

    <div class="ui container">

        <div class="ui attached segment">

            <h1 class="ui center aligned header">
                Status:
            </h1>

            <div class="status-red" id="status" ng-if="!user.status.verified">
                Your email is not verified
            </div>

            <div class="status-green" id="status" ng-if="user.status.verified">
                Your email is verified
            </div>

            <div class="ui divider"></div>

            <div class="ui blue large button" ng-if="!user.status.verified" ng-click="sendEmail()">Send Verification Email</div>

            <div class="ui blue large button" ng-if="user.status.verified" ui-sref="app.application">Edit Application</div>

        </div>

    </div>

</div>