<div class="outline">
    <div class="logo">
        <img src="/assets/logo_transparent-bg.png">
    </div>

    <div class="divider"></div>

    <h3 class="ui header">Reset Password</h3>
    
    <div>
        <form ng-submit="resetPassword()" class="login">
            <div>
                <input type="email" id="email" placeholder="email" ng-model="email">
            </div>
            <div>
                <button class="ui blue button" type="submit">Send Email</button>
            </div>
        </form>
    </div>

    <div class="divider"></div>

    <div id="links">
        <a ui-sref="login">Back</a>
    </div>

</div>
