<div id="sidebar" ng-class="{open : showSidebar}">
    <div class="logo" 
        ui-sref="app.dashboard">
        <img src="/assets/logo.png">
    </div>

    <div class="divider"></div>
    <div class="option" 
        ui-sref-active="active"
        ui-sref="app.dashboard">
        Home
    </div>

    <div ng-show="currentUser.status.verified">
        <div class="option" 
            ui-sref-active="active"
            ui-sref="app.application"
            ng-show="!currentUser.status.declined">
            Application
        </div>

        <!-- hide for now
        <div class="option" 
            ui-sref-active="active"
            ui-sref="app.confirmation"
            ng-show="currentUser.status.accepted  && !currentUser.status.declined">
            Confirmation
        </div>
        -->

        <!-- Hide for hello world
        <div class="option"
            ui-sref-active="active"
            ui-sref="app.workshop"
            ng-show="currentUser.status.verified">
            Workshop
        </div>
        -->

        <div class="option"
            ng-class="{active : isAdminStateActive('app.admin')}"
            ui-sref="app.admin.stats"
            ng-show="currentUser.admin">
            Admin
        </div>
    </div>

    <div class="option" ng-click="logout()"> 
        Logout
    </div>

    <div class="divider"></div>

</div>

<div class="toggle" ng-click="toggleSidebar()">
    <i class="big bordered inverted blue sidebar icon"></i>
</div>
