<div id="sidebar" ng-controller="sidebarController">
    <div class="logo">
        <img src="/assets/logo.png">
    </div>

    <div class="divider"></div>
    <div class="option" ng-class="{active : isRouteActive('/')}"
        ng-click="link('/')">
        Home
    </div>

    <div class="option" ng-class="{active : isRouteActive('/application')}"
        ng-click="link('/application')">
        Application
    </div>

    <div class="option" ng-class="{active : isRouteActive('/workshop')}"
        ng-click="link('/workshop')">
        Workshop
    </div>

    <div class="option" ng-click="logout()"> 
        Logout
    </div>

    <div class="divider"></div>

</div>