<div id="sidebar" ng-controller="sidebarController">
    <div class="logo">
        <img src="/assets/logo.png">
    </div>

    <div class="divider"></div>
    <div class="option" 
        ui-sref-active="active"
        ui-sref="app.dashboard">
        Home
    </div>

    <div class="option" 
        ui-sref-active="active"
        ui-sref="app.application"
        ng-show="user.status.verify">
        Application
    </div>

    <div class="option"
        ui-sref-active="active"
        ui-sref="app.workshop"
        ng-show="user.status.verify">
        Workshop
    </div>

    <div class="option"
        ui-sref-active="active"
        ui-sref="app.admin.stats"
        ng-show="user.admin">
        Admin
    </div>

    <div class="option" ng-click="logout()"> 
        Logout
    </div>

    <div class="divider"></div>

</div>