<div class="ui segment">

    <div class="ui stackable grid">

        <div class="ten wide column">
            <div class="field">
                <div class="ui icon fluid input">
                    <input type="text" placeholder="Search..."
                        ng-model="queryText"
                        ng-model-options="{debounce: 300}">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>

        <div class="six wide column">
            <i class="filter icon"></i>
            <select class="ui dropdown" ng-model="filter">
                <option value="">Search Filter</option>
                <option value="email">Email</option>
                <option value="info.gradyr">Graduation Year</option>
                <option value="info.name">Name</option>
                <option value="info.school">school</option>
            </select>
        </div>
        
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>School</th>
                    <th>Grad</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users">
                    <td data-label="Name">{{user.info.name}}</td>
                    <td data-label="Email">{{user.email}}</td>
                    <td data-label="School">{{user.info.school}}</td>
                    <td data-label="Grad">{{user.info.gradyr}}</td>
                    <td data-label="Status"></td>
                    <td>
                        <button
                         ng-click="assignID($event, user, $index)"
                         class="ui circular mini basic green icon button">
                        <i class="id card icon"></i>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>